---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='23 Ottobre' %}

  <div class="schedule" data-dates="10-23">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='10.30-10.45' title='Presentazione GrUSP' fill='true' %}

        {% include schedule/talk.html time='10.45-11.30' title='Il container dentro il serverless' fill='true' %}

        {% include schedule/pause.html time='11.30-11.45' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='11.45-12.30' title='Empowering Data Science with Kubernetes' fill='true' %}
        {% include schedule/talk.html time='12.30-13.15' title='Gitops: The Kubernetes way'  fill='true' %}

        {% include schedule/pause.html time='13.15-14.15' title='Lunch' icon="food" fill='true' %}

        {% include schedule/talk.html  time='14.15-15.00' title='Usare docker come front-end di Amazon ECS e AWS Fargate' fill='true' %}
        {% include schedule/talk.html  time='15.00-15.45' title='Modernize Legacy Systems with Kubernetes' fill='true' %}

        {% include schedule/pause.html time='15.45-16.15' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='16.15-17.00' title="Machine learning pipeline  Kubeflow, let's start" fill='true'  %}
        {% include schedule/talk.html time='17.00-17.45' title='Kubernetes as backend: CRD & Operators' fill='true'  %}

        {% include schedule/event.html time='17.45-18.00' title='Bye bye from GrUSP' fill='true' %}
      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="10-23">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='10.30-10.45' title='Presentazione GrUSP' fill='true' %}

        {% include schedule/talk.html time='10.45-11.30' title='Il container dentro il serverless' fill='true' %}

        {% include schedule/pause.html time='11.30-11.45' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='11.45-12.30' title='Empowering Data Science with Kubernetes' fill='true' %}
        {% include schedule/talk.html time='12.30-13.15' title='Gitops: The Kubernetes way'  fill='true' %}

        {% include schedule/pause.html time='13.15-14.15' title='Lunch' icon="food" fill='true' %}

        {% include schedule/talk.html  time='14.15-15.00' title='Usare docker come front-end di Amazon ECS e AWS Fargate' fill='true' %}
        {% include schedule/talk.html  time='15.00-15.45' title='Modernize Legacy Systems with Kubernetes' fill='true' %}

        {% include schedule/pause.html time='15.45-16.15' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='16.15-17.00' title="Machine learning pipeline  Kubeflow, let's start" fill='true'  %}
        {% include schedule/talk.html time='17.00-17.45' title='Kubernetes as backend: CRD & Operators' fill='true'  %}

        {% include schedule/event.html time='17.45-18.00' title='Bye bye from GrUSP' fill='true' %}
      </tbody>
    </table>
  </div>
</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
