<section class="limit">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <p class="conf-infos__text">
        ContainerDay è la principale conferenza italiana dedicata alle tecnologie container, alla virtualizzazione ed alle buone pratiche ad esse associate.
      </p>
      <p class="conf-infos__text">
        Docker, Kubernetes e le tecnologie di virtualizzazione stanno cambiando radicalmente il mondo delle infrastrutture IT. Incontra gli esperti in tecnologie container per due giorni di workshop, interventi tecnici e demo. Saranno presentate le best practices, le tecnologie innovative e gli strumenti più maturi per poter gestire e far evolvere una infrastruttura IT moderna.
      </p>
      <p class="conf-infos__text">
        Ti aspettiamo il 7 Novembre ai Workshop</li>
        e l'8 Novembre alla <a href="https://containerday-2019.eventbrite.com/">Conferenza</a>.
      </p>

      <h4 class="conf-infos__title">
        Perché partecipare?
      </h4>
      <p class="conf-infos__text">
        Che tu sia alle prime armi o un esperto del campo, non perdere l'opportunità
        di imparare qualcosa di nuovo dagli utilizzatori reali.
      </p>
      <p class="conf-infos__text">
        Avrai la possibilità di interagire con gli esperti che stanno utilizzando
        i container a servizio del business e della trasformazione digitale.
      </p>
      <h4 class="conf-infos__title">
        Un giorno di workshop
      </h4>
      <p class="conf-infos__text">
        Partecipa ai workshop tematici tenuti da trainer esperti nella progettazione
        e gestione di infrastrutture IT moderne.
      </p>


      <div class="vimeo">
      </div>
    </div>

    <div class="conf-infos__column conf-infos__column--right">
      <div class="mega-info mega-info--responsive">
              <div class="mega-info__number">8+</div>
              <div class="mega-info__text">Sessioni</div>
            </div>
            <div class="mega-info mega-info--responsive">
              <div class="mega-info__number">4</div>
              <div class="mega-info__text">Workshop</div>
            </div>

      <div class="vimeo-phrase">
        Dedicata<br>
        a sviluppatori, sistemisti<br>
        DevOps Engineer o IT Manager<br>
        che vogliono far scalare la proprie architetture.
      </div>
    </div>
  </div>
</section>
